*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    height: 100vh;
    font-size: 1.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;            
}
nav ul {    
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(17, 17, 17);    
}
nav a {
    color: whitesmoke;
    text-decoration: none;   
}
main {
    display: flex;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
h1{
   margin-bottom: 20px;
}
input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 5px;
    width: 250px;
    font-size: 1.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif ; 
}
input::placeholder {
    color: rgb(178, 178, 178);
    font-size: 1.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif ; 
  }
.result-text{
    height: 10px;
    font-size: 0.7rem;
    font-weight: bold;
}
input[type="submit"]{
    background: goldenrod;     
    border: none;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.warning{
    font-size: 2rem;
    color: red;
    font-weight: bolder;
}
.login {
    text-decoration: none;
    background-color: goldenrod;
    color: black;
    padding: 5px 10px;
}
.users{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
label {
    color: grey;       
}
h3{
    margin-bottom: 20px;
    color: grey;  
}
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: rgb(17, 17, 17);
    color: whitesmoke;
}
/* Class for javascript */
.valid {
    color: green;
  }
  .invalid {
    color: red;    
  }